.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 0 30px;
  background-color: #24292e;
  border-bottom: 1px solid #111416;
  color: #efefef;
}

.appBar-nav {
  text-align: right;
}
